<div class="container my-2 text-center align-content-center justify-content-center">
  <div class="col my-4">
    <img style="filter:grayscale(); width: 10rem;"src="https://31.media.tumblr.com/9ea917dd47a9fd2ad0a3638179d6cfc6/tumblr_mkuqqsTeWn1r67h3uo1_500.gif">
    <h1>Ehm... you're not supposed to be here u naughty naughty!</h1>
  </div>
  <div class="container d-flex justify-content-center"><button style="background-color:crimson; border:none" class="btn btn-dark w-lg-25" routerLink="/home">Back to Hompage!</button></div>
</div>



