<div *ngIf="allPokemons !==undefined" style="text-align:center">
  <h1>
  You just got {{allPokemons[randomNumber].name}}!
  </h1>
  <img width="300" alt="Pokemon sprite" src="https://img.pokemondb.net/sprites/red-blue/normal/{{allPokemons[randomNumber].name}}.png">
</div>
<div class="d-flex flex-column align-items-center w-100 justify-content-center align-items-center my-5">
  <button style="background-color:crimson; outline: none; border:none;"class="btn btn-dark" (click)="getAnotherRandomPokemon()">Get Another One!</button>
</div>
