
<div class="container w-75">
  <h1 class="my-2">PokemonInfo<span>:</span></h1>
    <div class="card my-2">
      <div class="card-body">
        Lvl: {{level}}
      </div>
    </div>
    <div class="card my-2">
      <div class="card-body">
        Shiny: {{shiny}}
      </div>
    </div>
    <div class="card my-2">
      <div class="card-body">
        Power: {{power}}
      </div>
    </div>
    <div class="card my-2">
      <div class="card-body">
        Beauty: {{beauty}}
      </div>
    </div>
</div>
